
@{
    ViewBag.Title = "Sum";
}

<h2>Sum</h2>

@*<form method="post">
    <label>Number1</label>
    <input type="number" name="n1" value="@ViewBag.n1" /><br />
    <label>Number2</label>
    <input type="number" name="n2" value="@ViewBag.n2" /><br />
    <label>Number3</label>
    <input type="number" name="n3" value="@ViewBag.n3" /><br />
    <input type="submit" value="Calculate"/><br />
    <label>Result</label>
    <input type="number" name="n1" value="@ViewBag.result" />
</form>*@
<br />
<br />
<form method="post">
   
    <label>Number1</label>
    <input type="number" name="n4" value="@ViewBag.n4" /><br />
    <label>Number2</label>
    <input type="number" name="n5" value="@ViewBag.n5" /><br />
    <label>Number3</label>
    <input type="number" name="n6" value="@ViewBag.n6" /><br />
    

    <input type="submit" value="Calculate" /><br />
    <label>Result</label>
    <input type="number" name="n1" value="@ViewBag.result" /><br />
</form>