@model IEnumerable<Authntiction.Models.Order>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Orderdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Employee.First_Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Orderdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Employee.First_Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Orderid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Orderid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Orderid })
        </td>
    </tr>
}

</table>
